{% extends 'base.html.twig' %}

{% block title %}Import{% endblock %}

{% block body %}
    <div class="imopcsv">
    <h1>Inscription utilisateurs</h1>

    {{ form_start(UserImportForm) }}

    {{ form_row(UserImportForm.csv_file) }}

    <button type="submit" class="uk-button uk-button-primary uk-margin uk-border-rounded">Importer</button>

    {{ form_end(UserImportForm) }}
    </div>
{% endblock %}
