{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste des villes{% endblock %}

{% block body %}
<h1>List des Villes</h1>
<a href="{{ path('villes_new') }}">Ajouter une ville</a>


<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Lieux</th>

    </tr>
    </thead>
    <tbody>
    {% for ville in villes %}
        <tr>
            <td>{{ ville.nom }}</td>
            <td><a href="{{ path('lieux_list', {'villeId': ville.id}) }}" class="btn btn-sm btn-info ">Voir les lieux</a></td>
{% else %}
<td>Aucune ville trouvée</td>
<td>-</td>


        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}